<header>
    <h1>{{title}}</h1>
    <h1>{{error}}</h1>
</header>
<div class="links links1" id="links1">
    <a href="/">Home page</a>
    <a href="/about">About page</a>
</div>

<section>
    <h1>{{name}}</h1>
</section>