<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" href="/img/weather.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/style.css">
    <title>about</title>
</head>
<body>
   <div>
    <div>
      <i class="fa fa-bars icon1" id="icon2"></i>
    </div>
     {{>header}}
     <p class="author">This site was created by <span>{{createdBy}}</span> and it uses the data from <span><a href="https://www.mapbox.com/" class="about_anchor">mapbox.com</a></span> and <span><a href="https://weatherstack.com/" class="about_anchor">weatherstack.com</a></span></p>
     {{>footer}}
   </div>

    <script src="/js/about.js"></script>
    
</body>
</html>